/* место для вашего кода */

.content_section {
  min-height: 100px;
  margin: auto;
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 92px 24px 96px;
}

.cover {
  position: relative;
  z-index: 1;
  padding: 165px 50px 51px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 179px 24px 146px;
}

.about {
  padding: 0 24px 180px;
}

.footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 50px 88px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  max-width: 391px;
  padding: 0;
  font-size: 18px;
  text-underline-offset: 4px;
  word-spacing: 2px;
  list-style-type: circle;
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  list-style: none;

}

.no-links {
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

.header-logo {
  position: relative;
  place-self: start;
  width: 100%;
  max-width: 148px;
  height: 100%;
  max-height: 105px;
  margin: 0px 0px 0px 0px;
}

.address {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-offset: 4px;
}

.address-header {
  margin-left:188px;
}

.header__logo-img {
  position: relative;
  place-self: calc(1052 / 2);
  width: 148px;
  height: 105px;
}

.header__menu {
  margin: 3px 0px 0px 27px;
}

.content_section-header {
  background-color: #fff;
}

.cover-title {
  position: relative;
  z-index: 2;
  cursor: default;
}

.accent_span-first {
  display: block;
  padding-bottom: 20px;
  color: #fff;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.letter-spacing-first {
  letter-spacing: 60px;
}

.accent_span-second {
  display: block;
  padding-bottom: 20px;
  color: #fff;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 30px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: -24px;
}

.letter-spacing-second {
  letter-spacing: 59px;
}

.accent_span-third {
  display: block;
  padding-bottom: 135px;
  color: #fff;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 30px;
  text-align: right;
  text-transform: uppercase;
}

.first-letter-spacing-third {
  letter-spacing: 61px;
}

.second-letter-spacing-third {
  letter-spacing: -1px;
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cover-footer {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
}

.cover-footer-p {
  margin: 1px 0px 0px 0px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover-footer-button {
  box-sizing: border-box;
  width: 100%;
  max-width: 256px;
  border: 1px solid;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots-title {
  padding-bottom: 27px;
  padding-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 334px;
  min-height: 563px;
  padding: 51px 40px 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 20px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.lots__card-list-item {
  display: flex;
  flex-grow: 1;
  flex-basis: 334px;
  justify-content: center;
  max-width: 334px;
  min-height: 563px;
  list-style-type: none;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 334px;
  gap: 25px;
  max-width: 1052px;
}

.lots-footer {
  padding: 30px 0px 0px 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about__grid {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 283px auto;
  gap: 0px 25px;
  min-height: 595px;
}

.about__logo {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 35px 47px 0px;
  text-align: center;
}

.circle {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000;
}

.about__logo-img {
  width: 148px;
  height: 245px;
}

.about__title {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-content: flex-start;
  align-items: flex-start;
  height: max-content;
  padding-top: 138px;
  padding-bottom: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 34px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  justify-content: space-between;
  font-size: 20px;
}

.about__text-header {
  padding-top: 1px;
  word-spacing: 1px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-underline-offset: 4px;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__menu {
  margin: 3px 0px 0px 38px;
  font-size: 18px;
}

.footer__social {
  margin: 3px 0px 0px 0px;
}

.footer-position {
  margin: 2px 0px 0px 0px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}





/* var docWidth = document.documentElement.offsetWidth;
[].forEach.call(
  document.querySelectorAll('*'),
  function(el) {
    if (el.offsetWidth > docWidth) {
      console.log(el);
    }
  }
) */
